<div class="form-grid" [formGroup]="parentForm()">
  <label class="field" for="nome">
    <span>Nome *</span>
    <input
      id="nome"
      type="text"
      formControlName="nome"
      placeholder="Digite seu nome"
      [readonly]="readonlyMode()"
    />
  </label>

  <label class="field" for="email">
    <span>Email *</span>
    <input
      id="email"
      type="email"
      formControlName="email"
      placeholder="Digite seu email"
      [readonly]="readonlyMode()"
    />
  </label>

  <label class="field field-full" for="documento">
    <span>Documento *</span>
    <input
      id="documento"
      type="text"
      formControlName="documento"
      placeholder="Digite seu documento"
      [readonly]="readonlyMode()"
    />
  </label>
</div>
